<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>茉莉綠茶</string>
		<key>price</key>
		<integer>30</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>阿薩姆紅茶</string>
		<key>price</key>
		<integer>30</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>四季春青茶</string>
		<key>price</key>
		<integer>30</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>黃金烏龍</string>
		<key>price</key>
		<integer>30</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>檸檬綠</string>
		<key>price</key>
		<integer>50</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>梅子綠</string>
		<key>price</key>
		<integer>50</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>桔子綠</string>
		<key>price</key>
		<integer>50</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>8冰綠</string>
		<key>price</key>
		<integer>50</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>養樂多綠</string>
		<key>price</key>
		<integer>50</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>冰淇淋紅茶</string>
		<key>price</key>
		<integer>50</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>旺來紅</string>
		<key>price</key>
		<integer>50</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>鮮柚綠</string>
		<key>price</key>
		<integer>60</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>四季春+珍波椰</string>
		<key>price</key>
		<integer>40</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>波霸奶茶</string>
		<key>price</key>
		<integer>50</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>波霸奶綠</string>
		<key>price</key>
		<integer>50</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>波霸烏龍奶茶</string>
		<key>price</key>
		<integer>50</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>椰果奶茶</string>
		<key>price</key>
		<integer>50</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>布丁奶茶</string>
		<key>price</key>
		<integer>60</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>布丁奶綠</string>
		<key>price</key>
		<integer>60</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>奶茶</string>
		<key>price</key>
		<integer>50</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>奶綠</string>
		<key>price</key>
		<integer>50</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>紅茶瑪其朵</string>
		<key>price</key>
		<integer>50</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>烏龍瑪奇朵</string>
		<key>price</key>
		<integer>50</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>四季奶青</string>
		<key>price</key>
		<integer>50</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>黃金烏龍奶茶</string>
		<key>price</key>
		<integer>50</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>阿華田</string>
		<key>price</key>
		<integer>55</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>可可芭蕾</string>
		<key>price</key>
		<integer>60</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>檸檬汁</string>
		<key>price</key>
		<integer>55</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>金桔檸檬</string>
		<key>price</key>
		<integer>55</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>檸檬梅汁</string>
		<key>price</key>
		<integer>60</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>檸檬養樂多</string>
		<key>price</key>
		<integer>70</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>8冰茶</string>
		<key>price</key>
		<integer>50</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>鮮柚汁</string>
		<key>price</key>
		<integer>60</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>葡萄柚多多</string>
		<key>price</key>
		<integer>70</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>紅茶拿鐵</string>
		<key>price</key>
		<integer>60</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>綠茶拿鐵</string>
		<key>price</key>
		<integer>60</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>黃金烏龍拿鐵</string>
		<key>price</key>
		<integer>60</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>阿華田拿鐵</string>
		<key>price</key>
		<integer>70</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>可可芭蕾拿鐵</string>
		<key>price</key>
		<integer>75</integer>
	</dict>
</array>
</plist>
