<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>珍珠伯爵紅茶拿鐵</string>
		<key>price</key>
		<integer>65</integer>
	</dict>
	<dict>
		<key>name</key>
		<string> 珍珠大正紅茶拿鐵</string>
		<key>price</key>
		<integer>65</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>伯爵紅茶拿鐵</string>
		<key>price</key>
		<integer>55</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>大正紅茶拿鐵</string>
		<key>price</key>
		<integer>55</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>茉香綠茶拿鐵</string>
		<key>price</key>
		<integer>55</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>高峰烏龍拿鐵</string>
		<key>price</key>
		<integer>55</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>決明大麥</string>
		<key>price</key>
		<integer>25</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>茉香綠茶</string>
		<key>price</key>
		<integer>30</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>大正紅茶</string>
		<key>price</key>
		<integer>30</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>初露青茶</string>
		<key>price</key>
		<integer>30</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>高峰烏龍綠</string>
		<key>price</key>
		<integer>30</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>英倫伯爵紅茶</string>
		<key>price</key>
		<integer>35</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>青採翠玉(無糖)</string>
		<key>price</key>
		<integer>40</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>鹿谷黃金烏龍(無糖)</string>
		<key>price</key>
		<integer>60</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>小山見晴(無糖)</string>
		<key>price</key>
		<integer>70</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>珍珠鮮奶</string>
		<key>price</key>
		<integer>85</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>手炒黑糖鮮奶</string>
		<key>price</key>
		<integer>80</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>大甲芋頭鮮奶</string>
		<key>price</key>
		<integer>85</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>法芙娜純可可鮮奶</string>
		<key>price</key>
		<integer>80</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>出雲抹茶鮮奶</string>
		<key>price</key>
		<integer>90</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>布丁鮮奶</string>
		<key>price</key>
		<integer>85</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>仙草凍鮮奶</string>
		<key>price</key>
		<integer>80</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>紅豆鮮奶</string>
		<key>price</key>
		<integer>80</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>大正紅茶鮮豆奶</string>
		<key>price</key>
		<integer>55</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>冰萃檸檬</string>
		<key>price</key>
		<integer>50</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>香柚綠茶</string>
		<key>price</key>
		<integer>50</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>青檸香茶</string>
		<key>price</key>
		<integer>60</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>養樂多綠</string>
		<key>price</key>
		<integer>50</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>冬瓜檸檬</string>
		<key>price</key>
		<integer>45</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>冬瓜青茶</string>
		<key>price</key>
		<integer>40</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>甘蔗青茶</string>
		<key>price</key>
		<integer>60</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>冰糖洛神梅</string>
		<key>price</key>
		<integer>45</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>蜂農花蜜茶</string>
		<key>price</key>
		<integer>45</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>柳丁綠茶</string>
		<key>price</key>
		<integer>60</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>柳丁青茶</string>
		<key>price</key>
		<integer>60</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>冰萃柳丁</string>
		<key>price</key>
		<integer>55</integer>
	</dict>
</array>
</plist>
