<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>魚池18號紅玉</string>
		<key>price</key>
		<integer>60</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>私藏仲夏夜</string>
		<key>price</key>
		<integer>45</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>茶花女</string>
		<key>price</key>
		<integer>50</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>俄羅斯夏卡爾紅茶</string>
		<key>price</key>
		<integer>50</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>英式雷格伯爵紅茶</string>
		<key>price</key>
		<integer>40</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>錫蘭紅寶石紅茶</string>
		<key>price</key>
		<integer>35</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>台灣玉露綠茶</string>
		<key>price</key>
		<integer>35</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>伯爵茶拿鐵</string>
		<key>price</key>
		<integer>60</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>蜜斯茶拿鐵</string>
		<key>price</key>
		<integer>60</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>珍珠茶拿鐵</string>
		<key>price</key>
		<integer>60</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>德古拉茶拿鐵</string>
		<key>price</key>
		<integer>65</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>18號紅玉茶拿鐵</string>
		<key>price</key>
		<integer>70</integer>
	</dict>
	<dict>
		<key>name</key>
		<string> 玫瑰岩鹽茶拿鐵</string>
		<key>price</key>
		<integer>70</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>錫蘭紅寶石奶茶</string>
		<key>price</key>
		<integer>50</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>珍珠厚黑奶</string>
		<key>price</key>
		<integer>55</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>德式太厚奶茶</string>
		<key>price</key>
		<integer>60</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>格雷冰果茶</string>
		<key>price</key>
		<integer>60</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>夏卡爾多多紅茶</string>
		<key>price</key>
		<integer>60</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>半島凍檸茶</string>
		<key>price</key>
		<integer>50</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>青檸玉露綠</string>
		<key>price</key>
		<integer>50</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>檸檬養樂多</string>
		<key>price</key>
		<integer>65</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>香濃黑可可</string>
		<key>price</key>
		<integer>55</integer>
	</dict>
</array>
</plist>
