<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>綠豆冰沙</string>
		<key>price</key>
		<integer>50</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>綠豆牛奶冰沙</string>
		<key>price</key>
		<integer>60</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>踏雪尋梅冰沙</string>
		<key>price</key>
		<integer>85</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>鮮檸檬冬瓜</string>
		<key>price</key>
		<integer>45</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>鮮檸蜜蘆薈</string>
		<key>price</key>
		<integer>55</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>巧克力可可</string>
		<key>price</key>
		<integer>55</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>黑糖珍珠鮮奶</string>
		<key>price</key>
		<integer>60</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>雲出完熟．紅</string>
		<key>price</key>
		<integer>25</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>霧丘陵熟・綠</string>
		<key>price</key>
		<integer>30</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>石泉半熟・烏青</string>
		<key>price</key>
		<integer>30</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>迎曦半熟・烏</string>
		<key>price</key>
		<integer>30</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>沾露輕熟・青</string>
		<key>price</key>
		<integer>35</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>鳴翠輕熟・金萱</string>
		<key>price</key>
		<integer>35</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>沐嵐完熟・蘋安紅</string>
		<key>price</key>
		<integer>50</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>沾露輕熟．鮮檸青</string>
		<key>price</key>
		<integer>50</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>霧丘陵熟・葡柚綠</string>
		<key>price</key>
		<integer>50</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>霧丘陵熟・金棗綠</string>
		<key>price</key>
		<integer>65</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>霧丘陵熟・金棗柚</string>
		<key>price</key>
		<integer>70</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>雲出完熟・金檸紅</string>
		<key>price</key>
		<integer>70</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>沐嵐完熟．奶茶</string>
		<key>price</key>
		<integer>45</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>迎曦・烏龍奶</string>
		<key>price</key>
		<integer>50</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>沐嵐完熟．珍珠奶茶</string>
		<key>price</key>
		<integer>50</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>霧丘陵熟・奶綠</string>
		<key>price</key>
		<integer>55</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>沐嵐完熟．熊貓奶</string>
		<key>price</key>
		<integer>60</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>沐嵐完熟．黃金熊貓</string>
		<key>price</key>
		<integer>60</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>霧丘半熟・奶茶</string>
		<key>price</key>
		<integer>60</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>翠巒・芯芽青</string>
		<key>price</key>
		<integer>35</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>凍頂・芯芽烏龍</string>
		<key>price</key>
		<integer>45</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>四季．黃金芯芽</string>
		<key>price</key>
		<integer>45</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>春摘．芯芽紅</string>
		<key>price</key>
		<integer>45</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>沐雲．完熟紅</string>
		<key>price</key>
		<integer>55</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>沐雲．青熟金萱</string>
		<key>price</key>
		<integer>55</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>沐雲．半熟烏青</string>
		<key>price</key>
		<integer>55</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>巧克可可</string>
		<key>price</key>
		<integer>65</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>沐嵐完熟・鮮奶紅</string>
		<key>price</key>
		<integer>55</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>迎曦半熟・鮮奶烏</string>
		<key>price</key>
		<integer>60</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>霧丘半熟・招牌鮮</string>
		<key>price</key>
		<integer>60</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>靜岡陵熟・抹茶鮮</string>
		<key>price</key>
		<integer>70</integer>
	</dict>
</array>
</plist>
