<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>一芳水果茶</string>
		<key>price</key>
		<integer>65</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>白甘蔗青茶</string>
		<key>price</key>
		<integer>68</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>黑糖粉圓鮮奶</string>
		<key>price</key>
		<integer>65</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>大甲芋頭鮮奶(M)</string>
		<key>price</key>
		<integer>65</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>紅心芭樂梅</string>
		<key>price</key>
		<integer>65</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>初戀芒果青青茶</string>
		<key>price</key>
		<integer>65</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>愛文芒果水果茶</string>
		<key>price</key>
		<integer>80</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>愛文芒果西米露</string>
		<key>price</key>
		<integer>80</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>日月紅茶</string>
		<key>price</key>
		<integer>30</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>包種綠茶</string>
		<key>price</key>
		<integer>30</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>松柏青茶</string>
		<key>price</key>
		<integer>30</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>凍頂烏龍</string>
		<key>price</key>
		<integer>30</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>手熬薑茶(M)</string>
		<key>price</key>
		<integer>45</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>薑汁檸檬(M)</string>
		<key>price</key>
		<integer>55</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>薑汁桂圓(M)</string>
		<key>price</key>
		<integer>55</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>桂圓紅棗茶(M)</string>
		<key>price</key>
		<integer>55</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>金鑽鳳梨綠</string>
		<key>price</key>
		<integer>55</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>鮮籽百香綠</string>
		<key>price</key>
		<integer>55</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>果青脆梅綠</string>
		<key>price</key>
		<integer>55</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>四季金桔綠</string>
		<key>price</key>
		<integer>55</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>翡翠檸檬綠</string>
		<key>price</key>
		<integer>55</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>冬瓜檸檬露</string>
		<key>price</key>
		<integer>55</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>愛玉檸檬露</string>
		<key>price</key>
		<integer>55</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>紅洛神檸檬</string>
		<key>price</key>
		<integer>55</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>紅茶鮮奶</string>
		<key>price</key>
		<integer>55</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>翡翠鮮奶</string>
		<key>price</key>
		<integer>55</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>烏龍鮮奶</string>
		<key>price</key>
		<integer>55</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>古釀冬瓜茶</string>
		<key>price</key>
		<integer>35</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>古熬仙草茶</string>
		<key>price</key>
		<integer>40</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>純釀楊桃汁</string>
		<key>price</key>
		<integer>50</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>養樂多冰茶</string>
		<key>price</key>
		<integer>50</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>養樂多鳳梨</string>
		<key>price</key>
		<integer>60</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>古釀冬瓜仙草露</string>
		<key>price</key>
		<integer>55</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>蜜紅豆粉粿鮮奶</string>
		<key>price</key>
		<integer>60</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>大甲芋頭西米露(M)</string>
		<key>price</key>
		<integer>65</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>蜜紅豆西米露</string>
		<key>price</key>
		<integer>75</integer>
	</dict>
</array>
</plist>
